body {
    background: url("images/narwhal.png") no-repeat center center fixed;
    background-color: #305f8d;
    background-size: cover;
    color: rgb(245, 245, 245);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}
h1 {
    padding: 20px;
    text-align: center;
    font-size: 100px;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
}
p {
    line-height: 1.2;
}
header {
    margin: 0 auto;
}
main {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 5px;
    font-size: 10px;
}
.division {
    margin: 10px auto;
    width: 80%;
    height: 5px;
    background-color: white;
}
@media only screen and (max-width: 700px) {
    h1 {
        font-size: 75px;
    }
    p {
        font-size: 17px;
    }
}