<div class="sidebar">
	<nav>
		<a href="index.html">
			<i class="material-icons navy001 md-36">home</i>
		</a>
		<a href="#">
			<i class="material-icons navy001 md-36">account_circle</i>
		</a>
		<a href="#">
			<i class="material-icons navy001 md-36">supervised_user_circle</i>
		</a>
		<a href="#">
			<i class="material-icons navy001 md-36">message</i>
		</a>
	</nav>
</div>

<div class="content">
	<header>
		<h1>Narwhal</h1>
	</header>

	<div class="division"></div>
	<main>
		<p>
			"Narwhals are pretty rad." - Abraham Lincoln
		</p>
	</main>
</div>

<footer>
	Copyright © (Rheman is turtle with autism)
</footer>

<router-outlet></router-outlet>
