<div class="sidebar">
	<nav>
		<a routerLink="" [class.activated]="currentUrl == '/'">
			<i class="material-icons navy001 md-36">home</i>
		</a>
		<a routerLink="account" [class.activated]="currentUrl == '/account'">
			<i class="material-icons navy001 md-36">account_circle</i>
		</a>
		<a routerLink="friends" [class.activated]="currentUrl == '/friends'">
			<i class="material-icons navy001 md-36">supervised_user_circle</i>
		</a>
		<a routerLink="posts" [class.activated]="currentUrl == '/posts'">
			<i class="material-icons navy001 md-36">message</i>
		</a>
	</nav>
</div>
