/* You can add global styles to this file, and also import other style files */
body {
    background: url("assets/images/narwhal3.jpg") no-repeat center center fixed;
    background-color: #305f8d;
    background-size: cover;
    color: rgb(245, 245, 245);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
	margin: 0;
}
.content {
	margin: 0 0 55px 50px;
}
h1 {
    padding: 40px;
	margin: 0;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
}
p {
    line-height: 1.2;
	padding: 0;
	margin: 0;
}
.material-icons {
    text-shadow: none;
	&.md-48 {
	    font-size: 48px;
	}
	&.md-36 {
	    font-size: 36px;
	}
}

@media only screen and (max-width: 700px) {
	.content {
        margin: 40px 0 55px;
    }
    h1 {
        font-size: 75px;
		padding: 30px;
    }
    p {
        font-size: 17px;
    }
}
