/* You can add global styles to this file, and also import other style files */
html, body, app-root {
	height: 100%;
}
body {
    background: url("assets/images/narwhal3.jpg") no-repeat center center fixed;
    background-color: #305f8d;
    background-size: cover;
    color: rgb(245, 245, 245);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
	margin: 0;

	app-root {
		display: flex;
		flex-direction: column;

		.content {
			margin-left: 52px;

			flex: 1 0 auto;
		}
		app-footer {
		    background-color: #305f8d;
		    color: white;
		    width: 100%;
		    text-align: center;
		    padding: 30px 0;
		    font-size: 10px;
		    text-shadow: none;
		    border-top: 2px solid #97a5ba;
			z-index: 1;

			flex-shrink: 0;
		}
	}
}
h1, h2 {
	margin: 0;
	font-weight: 600;
}
h1 {
    padding: 40px;
	text-align: center;
	font-size: 100px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
h2 {
	padding: 20px 35px;
	font-size: 60px;
	background-color: #305f8d;
	text-shadow: none;
}
p {
    line-height: 1.2;
	padding: 0;
	margin: 0;
}
.material-icons {
    text-shadow: none;
	&.md-48 {
	    font-size: 48px;
	}
	&.md-36 {
	    font-size: 36px;
	}
}

@media only screen and (max-width: 700px) {
	body {
		app-root{
			.content {
		        margin: 42px 0 0;
		    }
		}
	}
    h1 {
        font-size: 75px;
		padding: 30px;
    }
	h2 {
		padding: 20px;
		font-size: 45px;
	}
    p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 55px;
	}
	h2 {
		font-size: 35px
	}
}
