/* You can add global styles to this file, and also import other style files */
body {
    background: url("assets/images/narwhal3.jpg") no-repeat center center fixed;
    background-color: #305f8d;
    background-size: cover;
    color: rgb(245, 245, 245);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
	margin: 0;
}
.content {
	margin: 0 0 55px 50px;
}
h1 {
    padding: 40px;
	margin: 0;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
}
p {
    line-height: 1.2;
	padding: 0;
	margin: 0;
}
header {
    margin: 0 auto;
}
main {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.division {
    margin: 10px auto;
    width: 80%;
    height: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 2px;
}
.sidebar {
    position: fixed;
    left: 0;
	top: 0;
    width: 50px;
    height: 100%;
    background-color: white;

	nav {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;

		a {
		    flex-grow: 1;
		    display: flex;
		    justify-content: center;
		    text-decoration: none;
		    padding: 5px 7px;

			&:hover {
				background-color: #c5c5c5;
			}
			&:active {
			    background-color: #7a7a7a;
			}
			.material-icons {
			    color: #305f8d;
			}
		}
	}
}
.material-icons {
    text-shadow: none;
	&.md-48 {
	    font-size: 48px;
	}
	&.md-36 {
	    font-size: 36px;
	}
}

footer {
    position: fixed;
    background-color: #305f8d;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    text-shadow: none;
    border-top: 4px solid white;
}
@media only screen and (max-width: 700px) {
    h1 {
        font-size: 75px;
		padding: 30px;
    }
    p {
        font-size: 17px;
    }
    .sidebar {
        width: 100%;
        height: 40px;
        top: 0;

		nav {
	        flex-direction: row;
	        justify-content: space-evenly;

			a {
		        padding: 2px 5px 2px 5px;
		    }
	    }
    }
    .content {
        margin: 40px 0 55px;
    }
}
